future>=0.14.3
numpy>=1.16.0
numexpr>=2.4
tables>=3.6.1
cython
PySAIS
biopython
tqdm
pandas>=0.22
matplotlib
scikit-learn
scikit-fuzzy
lark-parser
pyopa>=0.8
fuzzyset2>=0.1.1
datasketch
pyham

-e git+ssh://gitolite@lab.dessimoz.org:2222/family-analyzer@master#egg=familyanalyzer
-e .
